* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 20vw;
    margin-right: 20vw;
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blue {
    background-color: #163853;
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}

.edu-list {
    list-style-type: disc;
    margin-left: 20px;
}

.main-image {
    background-color: #163853;
    width: 10rem;
    height: 10rem;
    border: .5rem solid white;
    border-radius: 50%;
    transition: src 0.3s;
}


hr {
    width: 80%;
    border: 1px solid white;
}


